
@media screen and (max-width: 700px) {
  .vl{
    display: none;
  }
}

.active_1:hover {
  text-decoration: underline;
}

.search {
  border: 2px solid rgb(139, 169, 240);
  border-radius: 7px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vl {
  border-left: 2px solid rgb(114, 114, 118);
  height: 250px;

}

.yhu{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}
