

@media screen and (max-width: 1000px) {
  div.vl{
    display: none;
  }

  div.pad{
    margin-top: 50px;
    margin-left: 140px;
  }
}
.active_1{
  
  color: white;
}
.active_1:hover {
 background-color: #F9F7F7;
 border-radius: 10px;
color: black;
opacity: 50%;
}

.search {
  border: 2px solid rgb(139, 169, 240);
  border-radius: 7px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vl {
  border-left: 2px solid rgb(114, 114, 118);
  height: 220px;
}



.yhu{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}
